<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicTacToe Login</title>
</head>
<body>
    <form action="play" method="GET" enctype="multipart/form-data">
        <label for="yours">Enter Your Number</label>
        <input type="text" id="yours" name="yours" required>
        <label for="opp">Enter Your Opponent Number</label>
        <input type="text" id="opp" name="opp" required>
        <button>Submit</button>
    </form>
</body>
</html>
